# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# ML models
models/
*.pkl
*.joblib
*.h5
*.pt
*.pth
*.onnx

# Generated outputs
#outputs/
#reports/

# Data
#Data/
#*.csv
#*.xlsx
#*.parquet

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db